<a href="https://colab.research.google.com/github/Soumee06/assignments/blob/main/Pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

## DataFrames

In [33]:
students = ['Alice', 'Bob', 'Emily', 'Charlie','Soumee']

In [34]:
scores = [90, 80, 65, 50,93]

In [38]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
        
    }
)

In [39]:
exam_results

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50
4   Soumee      93

### Searching (SQL SELECT)

In [40]:
exam_results.loc[0, 'scores']

90

In [41]:
exam_results.loc[:, 'scores']

0    90
1    80
2    65
3    50
4    93
Name: scores, dtype: int64

In [42]:
exam_results.loc[2, :]

name      Emily
scores       65
Name: 2, dtype: object

In [43]:
exam_results['scores']

0    90
1    80
2    65
3    50
4    93
Name: scores, dtype: int64

In [44]:
exam_results[['name', 'scores']]

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50
4   Soumee      93

### Add Columns

We can also easily add columns

In [45]:
gender = ['female', 'male', 'female', 'male','female']

In [46]:
exam_results['gender'] = gender

In [47]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male
4   Soumee      93  female

In [48]:
exam_results['scores']

0    90
1    80
2    65
3    50
4    93
Name: scores, dtype: int64

### Remove Columns

In [49]:
exam_results.drop('name', axis=1)

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male
4      93  female

### Column names and Row Index

In [50]:
exam_results.columns

Index(['name', 'scores', 'gender'], dtype='object')

In [51]:
exam_results.index

RangeIndex(start=0, stop=5, step=1)

### Renaming Columns

In [52]:
exam_results.rename({'name': 'first_name'}, axis=1)

  first_name  scores  gender
0      Alice      90  female
1        Bob      80    male
2      Emily      65  female
3    Charlie      50    male
4     Soumee      93  female

In [53]:
exam_results.rename({'scores':'marks', 'gender':'sex'},axis=1)

      name  marks     sex
0    Alice     90  female
1      Bob     80    male
2    Emily     65  female
3  Charlie     50    male
4   Soumee     93  female

### Dealing with missing values

Dataframes have specific commands which help with the handling of missing data

In [54]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [55]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [56]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [57]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [58]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

### Group by

In [60]:
exam_results.groupby('gender').mean()

           scores
gender
female  82.666667
male    65.000000

In [63]:
mylist = [1,2,1,2,1]

exam_results.groupby(mylist).get_group(1)

     name  scores  gender
0   Alice      90  female
2   Emily      65  female
4  Soumee      93  female

In [64]:
exam_results.groupby(mylist).get_group(2)

      name  scores gender
1      Bob      80   male
3  Charlie      50   male

Thus, suppose we want to group people who obtained marks above or below 70, then we could do:

In [65]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
4     True
Name: scores, dtype: bool

This will compute the mean scores of students who scored above or below 70

In [66]:
exam_results.groupby(above_70).mean()

           scores
scores
False   57.500000
True    87.666667

### Merge and Joining

In [67]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [68]:
exam_results.merge(contacts, left_on='name', right_on='name')   # defaults to inner join

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [69]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      80    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564
4   Soumee      93  female            NaN